# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code coverage downloads
lib-cov
coverage
*.lcov

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rts2_cache_part
.rts2_cache_utils
.rts2_cache_main

# Directory for master concerns
.lock-wscript

# Compiled binary formats
bin/
obj/

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite / React Build output
client/dist
client/dist-ssr
client/assets

# Prisma Schema Generated output / migrations
server/prisma/migrations/*
!server/prisma/migrations/migration_template.sql
server/prisma/*.db
server/prisma/*.db-journal
